/* Mevcut CSS kodlarınız */
body {
    font-family: Arial, sans-serif;
    background: url('/static/movie-poster-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 32px;
    color: #ffd700; /* Altın rengi */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Daha belirgin gölge */
}

p {
    font-size: 16px;
    color: #ffffff; /* Beyaz renk */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.input-label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin: 10px 0 5px;
    color: #ffd700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.file-input,
.language-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333; /* Daha koyu yazı rengi */
    border: 2px solid #ffd700;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.file-input:focus,
.language-select:focus {
    border-color: #ffd700;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: linear-gradient(90deg, #ffd700, #ffa500);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.submit-button:hover {
    background: linear-gradient(90deg, #ffa500, #ffd700);
    transform: scale(1.02);
}

/* Eklenen İlerleme Çubuğu Stilleri */
#progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0;
    height: 20px;
    overflow: hidden;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #28a745; /* Yeşil renk */
    text-align: center;
    color: white;
    line-height: 20px;
    transition: width 0.4s ease; /* Yumuşak genişleme animasyonu */
}

#loading-message p {
    color: #333;
}
